.App {
  text-align: center;
  max-height: 100%;
  max-width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profileContainer {
  display: flex;
  justify-content: flex-start;
}

.TranslationContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;

}

/* .mainContent {
  display: flex;
  justify-content:  flex-end;
  padding-right: 5%;

} */

.messagesBox {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 23%;
  padding-right: 5%;
  overflow-y: scroll;

}

.header {
  display: flex;
  justify-content: flex-start;
}

.item {
  display:flex;
  justify-content: flex-start;
}

.friendsList {
padding-top: 2%;
width: 15%;
/* height: 1%; */
overflow-y: scroll;

}

.subContent {
  display: flex;
  flex-direction: row;
  
}
